{% extends "template.html" %}


{% block body %}
    <div class="form">
        <form id="connection-establishment">
            <select name="board">
                <!----> for i in board names : value = id, label = name
            </select>
            <!--checkbox labels : auto port for congle search  / specify ; if specify selected - input should appear-->
            <!--checkbox labels : auto eeg search / specify ; if specify selected - input for mac-address should appear-->
            <!--add button - to show more options : timeout, log, streamer-params, other-info-->
            <!--future improvement - every board - object should have its properties - check if objects exists in brainflow-->
            <!--or create them -> required input fields should appear based on board specification | also custom boards for testing-->
        </form>
    </div>
{% endblock %}