{% extends "template.html" %}


{% block body %}
    <div class="form">
        <div class="alert wrong-data">
          {% if message %}
          <strong>
            <span class="alert"><font color="red">{{message}}</font></span>
          </strong>
         {% else %}
         {% endif %}
        </div>
        <form id="connection-establishment" method="post">
            <select name="{{connection_element_names['board_id']}}">
                <option value="" selected disabled hidden>Choose Board</option>
                {% for board in boards_properties["boards"] %}
                    <option value="{{board.value}}">{{board.name}}</option>
                {% endfor %}
            </select>
              <fieldset id="serial_port">
                <input type="radio" value="auto" name="{{connection_element_names['serial_port']}}" id="serial_port_auto_radio" checked="checked">
                  <label for="serial_port_auto_radio">serial port search</label>
                <input type="radio" value="input" name="{{connection_element_names['serial_port']}}" id="serial_port_input_radio">
                  <label for="serial_port_input_radio">input serial port</label>
                  <!--input should appear-->
                  <input type="text" id="serial_port_input" name="{{connection_element_names['serial_port']}}" placeholder="Serial Port">
              </fieldset>
              <fieldset id="mac_address">
                <input type="radio" value="auto" name="{{connection_element_names['mac_address']}}" id="mac_address_auto_radio" checked="checked">
                  <label for="mac_address_auto_radio">mac address search</label>
                <input type="radio" value="input" name="{{connection_element_names['mac_address']}}" id="mac_address_input_radio">
                  <label for="mac_address_input_radio">input MAC address</label>
                  <!--input should appear-->
                  <input type="text" id="mac_address_input" name="{{connection_element_names['mac_address']}}" placeholder="MAC address">
              </fieldset>
            <!--add button - to show more options : timeout, log, streamer-params, other-info-->
            <span>other parameters</span>
            <select name="{{connection_element_names['log_level']}}" id="log_level">
                {% for log_level in boards_properties["log_levels"] %}
                    {% if log_level.value == 6 %}
                        <option value="{{log_level.value}}" selected="selected">{{log_level.name}}</option>
                    {% else %}
                        <option value="{{log_level.value}}">{{log_level.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="log_level">Log Level</label>
            <select name="{{connection_element_names['ip_protocol']}}" id="ip_protocol_type">
                {% for ip_protocol_type in boards_properties["ip_protocol_types"] %}
                  {% if ip_protocol_type.value == 0 %}
                        <option value="{{ip_protocol_type.value}}" selected="selected">{{ip_protocol_type.name}}</option>
                  {% else %}
                        <option value="{{ip_protocol_type.value}}">{{ip_protocol_type.name}}</option>
                  {% endif %}
                {% endfor %}
            </select>
            <label for="ip_protocol_type">Ip Protocol Type</label>
            <input type="number" name="{{connection_element_names['timeout']}}" id="timeout" placeholder="Timeout" value="15">
            <label for="timeout">Timeout</label>
            <input type="number" name="{{connection_element_names['ip_port']}}" id="ip_port" placeholder="IP Port" value="0">
            <input type="text" name="{{connection_element_names['ip_address']}}" id="ip_address" placeholder="IP Address">
            <input type="text" name="{{connection_element_names['other_info']}}" id="other_info" placeholder="Other Info">
            <!--add log file-->
            <!--future improvement - every board - object should have its properties - check if objects exists in brainflow-->
            <!--or create them -> required input fields should appear based on board specification | also custom boards for testing-->
            <button type="submit" name="submit_connection_parameters">Submit Connection Parameters</button>
        </form>
    </div>
  <strong>
    <span class="alert"><font color="gray">{{status}}</font></span>
  </strong>
{% endblock %}