{% extends "template.html" %}


{% block body %}
<script src="static/js/dashboard.js"></script>
<div class="dashboard">
  <strong>
    <span class="alert"><font color="green">CONNECTED</font></span>
  </strong>
    <section>
        <div id="data-stream-graph">

        </div>
        <h2 class="data-stream-status"></h2>
        <button type="submit"  id="data_stream_control" value="start">Start Stream</button>
    </section>
</div>
<div class="form">
    <form id="disconnect" action="{{ url_for('disconnect') }}" method="post">
        <button type="submit" name="disconnect">Disconnect</button>
    </form>
</div>
{% endblock %}