{% extends "template.html" %}


{% block body %}
<script src="static/js/dashboard.js"></script>
<strong>
    <span class="alert"><font color="green">CONNECTED</font></span>
</strong>
<div class="form">
    <button type="submit" id="model-calibration" value="0">Start Calibration</button>
    <button type="submit" id="model-test" hidden value="0">Test</button>
    <button type="submit" id="model-play" hidden value="0">Play</button>
    <br>
    <select name="saved-models">
        <option value="" selected disabled hidden>Choose Model</option>
    </select>
</div>
<div class="dashboard">
    <section>
        <div class="game-container">
            <div data-cell-index="0" class="cell"></div>
            <div data-cell-index="1" class="cell"></div>
            <div data-cell-index="2" class="cell"></div>
            <div data-cell-index="3" class="cell"></div>
            <div data-cell-index="4" class="cell"></div>
            <div data-cell-index="5" class="cell"></div>
            <div data-cell-index="6" class="cell"></div>
            <div data-cell-index="7" class="cell"></div>
            <div data-cell-index="8" class="cell"></div>
        </div>
        <h2 class="game-status"></h2>
        <button class="game-restart">Restart Game</button>
    </section>
</div>
<div class="form">
    <button type="submit"  id="data_stream_control" value="start">Start Stream</button>
    <form id="disconnect" action="{{ url_for('disconnect') }}" method="post">
        <button type="submit" name="disconnect">Disconnect</button>
    </form>
</div>
{% endblock %}